*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: #f1627a;
}

.card{

    width : 90%;
    max-width: 550px;
    background: #fff;
    margin: 80px auto 10px;
    padding: 15px 30px;
    border-radius: 10px;
}

.search{
    position: relative;
    width : 100%;
    height: 35px;
    display: flex;
    justify-content: center; 
    margin: 30px 0;
}

.search input{
    position: absolute;
    left: 30px;
    height: 35px;
    width: 70%;
    outline: 0;
    border: none;
    border-bottom: 3px solid #f15f78;
    padding : 20px 10px ;
    font-size: 20px;
}

.search button{
    position: absolute;
    top: 5px;
    right: 30px;
    height: 100%;
    width: 85px;
    background: #f1627a;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}  

.error{
    display: none;
    justify-content: center;
    color:#f15f78;
    margin-top: 30px;
    text-align: center;
}

.result{
    position: relative;
    display: none;
    margin: 5px 15px 30px;
}

.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #575a7b;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #f1627a;
    padding-left: 20px;
    margin-top: 30px;
}